<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>{{ wp_title ? wp_title ~ ' | ' }}
            {{ site.name }}</title>
        {{
			function("wp_head")
		}}
    </head>
    <body >
        <canvas class="c-background"></canvas>
        <div id="wrapper" class="{{ customClass ? customClass : ""}}">
            {% include 'header.twig' %}
            <div id="content" class="content {{ padding ? "l-mainPadding l-headerPadding" : ""}}">
                {% block content %}
                Sorry, no content
                {% endblock %}
            </div>
        </div>
        <canvas class="c-transitionCanvas"></canvas>
        {{ function("wp_footer") }}
    </body>
</html>