<header>
	<div class="c-header--bar">
		<h1 class="c-header--title">{{site.title}}</h1>
		<button class="c-header--hamburger js-wave-toggleMenu">
			<div class="c-header--hamburgerWrapper">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</button>
	</div>
	<canvas class="c-menuCanvas"></canvas>
	<div class="c-header--behind">
		<nav>
			<ul class="c-nav-main">
				{% set i = 1 %}
				{% for item in menu.items %}
					<li class="c-nav-main--item {{ item.classes|join(' ') }}">

						<a class="c-nav-main--link" href="{{ item.link }}">
							<h4 class="c-nav-main--num u-font-beta">{{i}}</h4>
							<h2 class="u-font-delta">{{ item.title }}</h2>
							
						</a>
					</li>
				{% set i = i + 1 %}
				{% endfor %}
			</ul>
		</nav>
	</div>
</header>
