<section class="c-hero">
	<div class="c-hero--imgArea">
		<div class="c-hero--image" id="img-secondary">
			<img src="{{ project.meta("images").secondary.url }}" alt="{{ project.meta("images").secondary.alt }}"/>
		</div>
		<div class="c-hero--image" id="img-primary">
			<img src="{{ project.meta("images").primary.url }}" alt="{{ project.meta("images").primary.alt }}"/>
		</div>
	</div>
	<div class="c-hero--text l-mainPadding l-mainPadding--top u-spacing--mediumHalf">
		<h4 class="c-hero--category u-font-gamma">{{ project.category }}</h4>
        <h2 class="c-hero--title">{{ project.title }}</h2>
        <h2 class="c-hero--subtitle">{{ project.subtitle }}</h2>
	</div>
</section>