<article class="c-project">
    <a href="{{project.link}}" class="c-project--mobileLink">
        <div class="c-project--hero">
            <img src="{{ project.thumbnail.src }}" alt="{{ project.title }}"/>
        </div>
        <h4 class="c-project--titleMobile">{{project.title}}</h4>
    </a>
    <div class="c-project--text u-align--center-untilSmall u-spacing">
        <h4 class="c-project--category u-font-gamma">{{ project.category }}</h4>
        <h2 class="c-project--title">{{ project.title }}</h2>
        {% include 'button.twig' with {
            'text' : 'view project',
            'link' : project.link
        }
        only %}
    </div>
</article>